name: "learn github actions"
run-name: ${{github.actor}} is learning github actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: python main.py